html{
    background-color: rgb(105, 105, 248);
  }
  header{
    border: 2px solid white;
    background: rgb(218, 218, 57);
    text-align: center;
  }
  body{
    max-width: 100%;
    margin: auto;
    text-align: center;
    color: aliceblue;
    font-size: larger;
    background-color: black;
  }
  li{
    padding: 10px;
  }
  ul {
    border: 2px solid white;
    margin: 1em;
  }
  main{
    border: 2px solid white;
  }
  footer{
    border: 2px solid white;
    background: black;
  }

  article {
    width: 90%;
    margin: auto;
    border: 2px solid rgb(105, 105, 248);
    margin-top: 1em;
  }

  @media only screen and (min-width:786px){
    body{
      max-width: 90%;
      margin: auto;
      text-align: center;
      color: aliceblue;
      font-size: large;
    }
    form {
      text-align-last: center;
    }
  }

